
<body>
    {% extends 'base.html' %}
    
    {% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-lg-1">
          <img
            src={{py_trends}}
            class="w-100 shadow-1-strong rounded mb-4"
            alt="py_trends"
          />
      
          <img
            src={{rev_pred_1}}
            class="w-110 shadow-1-strong rounded mb-4"
            alt="rev_pred_1"
          />
        </div>
      
        <div class="col-lg-7 mb-4 mb-lg-1">
          <img
            src={{beef_pred}}
            class="w-100 shadow-1-strong rounded mb-5"
            alt="beef_pred"
          />
      
          <img
            src={{chicken_pred}}
            class="w-100 shadow-1-strong rounded mb-5"
            alt="chicken_pred"
          />
        </div>
      
        <div class="col-lg-7 mb-5 mb-lg-1">
          <img
            src={{item_pred1}}
            class="w-100 shadow-1-strong rounded mb-4"
            alt="item_pred1"
          />
      
          <img
            src={{bar1}}
            class="w-100 shadow-1-strong rounded mb-4"
            alt="bar1"
          />
        </div>
      </div>










    
        


        

    {% endblock %}


</body>

